/*      
    Primary color is #EADFB4
    Secondary color is #9BB0C1
    third color is #51829B
    forth color is #F6995C
*/
.top-navbar {
    background-color: #EADFB4;
    padding-bottom: 1em; 
}

.top-navbar a {
    text-decoration: none;
    color: #51829B;
}

.top-navbar li {
    list-style-type: none;
}

.header {
    color: #9BB0C1;
}
    